<h1>Burgers!</h1>

<h2>Burgers that are not devourable yet!</h2>

<ul>
  {{#each burgers}}
    {{#unless devourable}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are absolutely devourable!</h2>

<ul>
  {{#each burgers}}
    {{#if devourable}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devourable?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Devourable!<br>
    <input type="radio" name="sleepy" value="0"> Not Yet!
  </div>

  <button type="submit">Add Burger</button>
</form>
